html, body {
  height: 100%;
}

body{
  background-color: #e9ecef;
  font-family: 'Roboto', sans-serif;
  font-family: 'Rubik', sans-serif;
  display: flex;
  flex-direction: column;
}

img{
  height: 300px;
}

.card {
  background-color: #e9ecef;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}

footer {
  bottom: 0;
  background-color: #e9ecef;
  color: black;
  text-align: center;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
  font-size: 12px;
}

.react-calendar {
  width: 100%;
  border: none;
}
